# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment files
.env
*.env

# Ignore logs and temporary files
*.log
*.tmp
*.bak
*.swp
*.swo

# Ignore compiled files
*.so
*.dll
*.dylib
*.exe

# Ignore data files
*.csv
*.pkl
*.h5
*.db
*.sqlite

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Streamlit cache
.streamlit/

# Ignore IDE-specific files
.vscode/
.idea/
*.iml